* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #937DC2;
    color: black;
}

img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 2rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.tabs {
    background: #FFB4B4;
    border-radius: .5rem;
    grid-template-rows: auto 1fr;
}

.button {
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: #FFDEB4;
    cursor: pointer;
    transition: all .3s linear;
    letter-spacing: .25rem;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

.button:nth-child(3) {
    border-top-right-radius: 0.5rem;
}

.button:hover:not(.live) {
    background: #FF1E00;
    color: white;
}

p {
    margin-top: 1rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.tabs-content {
    padding: 2rem 1.5rem;
}

.content {
    display: none;
}

.content.live {
    display: block;
}

.button.live {
    background: #FFB4B4;
}

@media (min-width:992px) {
    .image{
        margin-bottom: 0;
    }
    .section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

